$background-color-primary: #0c1012 !default;
$background-color-secondary: #24282a !default;
$border-color: #171a1f12 !default;
$border-radius-50: 4px !default;
$border-radius-100: 8px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$color-black: #000000 !default;
$color-white: #ffffff !default;
$font-size-50: 14px !default;
$font-size-100: 16px !default;
$font-size-125: 18px !default;
$font-size-150: 20px !default;
$font-size-200: 24px !default;
$spacing-25: 4px !default;
$spacing-50: 8px !default;
$spacing-75: 12px !default;
$spacing-100: 16px !default;
$spacing-125: 20px !default;
$spacing-150: 24px !default;
$spacing-200: 32px !default;
$spacing-300: 48px !default;
$spacing-400: 64px !default;
